body {
  padding: 1rem 2rem; margin: 0;
  background: #222; color: #999; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
  border-bottom: 1px solid #555;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: calc(1.5rem + .9vw);
}
h1,h2,h3,h4,h5,b {color: #fff;}
h1 small,h2 small,h3 small,h4 small,h5 small {
  color: #ddd;
  display:inline-block; 
  font-weight: normal; font-size: 75%
}
#svg-path-commander {
  width: 380px;
  max-width: 100%
}
.row {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.col {
  width: 100%;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.form-input { 
  background: #333; border: 1px solid #555; color: #eee; 
  width: calc(100% - 1.5rem) !important; padding: 0.5rem 0.75rem;
  font-size: 14px; line-height: 1.5 
}
div.form-input {
  min-height: 100px;
  resize: vertical;
  overflow: auto;
  white-space: pre-wrap;
}
button { 
  background: #222; 
  border: 1px solid #555; color: #777; 
  padding: 0.25rem 0.75rem; margin: 0 0.5rem 0.5rem 0 
}
button:hover, button:focus { 
  outline:none; 
  background: #eee; border-color: #fff; color: #222
}
a { color: #eee; text-decoration: none;}
a:hover { color: cyan; text-decoration: none;}
a.active { color: cyan;}

.nav a {
  font-size: 14px;
  line-height: 1.2;
}

.copy {font-size: 12px;}
.row.copy .col {
  flex: 1 0 0%;
  flex-shrink: 0;
}

.p-0 {padding: 0 !important}
.m-0 {margin: 0 !important}

svg { max-height: 50%; overflow: visible}
path {transition: fill 0.5s ease}

@media (min-width: 1200px){
  svg { max-width: 60%; }
}

.d-inline {display: inline}
.d-block {display: block}
.d-none {display: none}
.text-right { text-align: right;}

.form-input.d-inline {
  width: 2.2rem !important;
  padding: 0.25rem 0.75rem;
  line-height: inherit;
  margin: 0 0.15rem 0.5rem 0;
  outline: none
}

/* .d-md-block {display: none}
.d-md-none {display: block} */

@media (min-width:768px){
  .d-md-inline {display: inline}
  .d-md-block {display: block}
  .d-md-none {display: none}
  body {
    padding: 3rem 5rem; margin: 0;
  }
  .row-lg { 
    margin-right: -3rem;
    margin-left: -3rem;
   }
  .col {
    flex: 1 0 0%;
    flex-shrink: 0;
  }
  .col-lg {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .text-center { text-align: center;}
}
/* BS Tooltip */
.tooltip{position:absolute;z-index:1070;display:block;margin:0;font-family:var(--bs-font-sans-serif);font-style:normal;font-weight:400;line-height:1.5;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:0.875rem;word-wrap:break-word;opacity:0}
.tooltip.show{opacity:0.95}
.tooltip .tooltip-arrow{position:absolute;display:block;width:0.8rem;height:0.4rem}
.tooltip .tooltip-arrow::before{position:absolute;content:"";border-color:transparent;border-style:solid}
.bs-tooltip-top{padding:0.4rem 0}
.bs-tooltip-top .tooltip-arrow{bottom:0}
.bs-tooltip-top .tooltip-arrow::before{top:0;border-width:0.4rem 0.4rem 0;border-top-color:#fff}
.bs-tooltip-right{padding:0 0.4rem}.bs-tooltip-auto[x-placement^="right"] .tooltip-arrow,.bs-tooltip-right .tooltip-arrow{left:0;width:0.4rem;height:0.8rem}
.bs-tooltip-right .tooltip-arrow::before{right:0;border-width:0.4rem 0.4rem 0.4rem 0;border-right-color:#fff}
.bs-tooltip-bottom{padding:0.4rem 0}
.bs-tooltip-bottom .tooltip-arrow{top:0}.bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow::before,.bs-tooltip-bottom .tooltip-arrow::before{bottom:0;border-width:0 0.4rem 0.4rem;border-bottom-color:#fff}
.bs-tooltip-left{padding:0 0.4rem}.bs-tooltip-auto[x-placement^="left"] .tooltip-arrow,.bs-tooltip-left .tooltip-arrow{right:0;width:0.4rem;height:0.8rem}
.bs-tooltip-left .tooltip-arrow::before{left:0;border-width:0.4rem 0 0.4rem 0.4rem;border-left-color:#fff}
.tooltip-inner{max-width:200px;padding:0.25rem 0.5rem;color:#222;text-align:center;background-color:#fff;border-radius:0.25rem}